@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

:root{
/*Primary*/
--paleBlue: hsl(225, 100%, 94%);
--brightBlue: hsl(245, 75%, 52%);
/* Neutral*/
--veryPaleBlue: hsl(225, 100%, 98%);
--desaturatedBlue: hsl(224, 23%, 55%);
--darkBlue: hsl(223, 47%, 23%);
}

body {
  min-height: 100vh;
  background-color: var(--paleBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-container {
  background-color: #fff;
  width: 320px;
  display: flex;
  height: 510px;
  margin: 0 0 30px 0;
  border-radius: 16px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#main-container .img {
  background-image: url(./images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 170px;
  border-radius: 16px 16px 0 0;
}

#main-container h1 {
  font-size:  1.4em;
  font-weight: 900;
  margin:  24px 0 16px 0;
  color: var(--darkBlue);
}

#main-container p {
  text-align: center;
  font-size:  0.9em;
  font-weight: 500;
  margin: 0 35px;
  line-height: 1.6;
  color: var(--desaturatedBlue);
}

.plan-container {
  display: flex;
  margin: 15px;
  padding:  12px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--veryPaleBlue);
}

.plan-container .prizes{
  font-size: 0.9em;
}

.plan-container .prizes strong {
  color: var(--darkBlue);
  font-weight: 900;
}

.plan-container .prizes p {
  color: var(--desaturatedBlue);
  font-weight: 900;
}

.plan-container .change{
  font-size: 0.8em;
  font-weight: 900;
  color: var(--brightBlue);
}

.plan-container .change:hover{
  color: hsl(245, 78%, 65%);
  transition: 0.5s;
}

#main-container  button {
  padding: 12px 70px;
  border-radius: 9px;
  border: none;
  background-color: var(--brightBlue);
  color: var(--veryPaleBlue);
  font-weight: 900;
  font-size: 0.85em;
  cursor: pointer;
}

#main-container button:hover{
  background-color: hsl(245, 78%, 65%);
  transition: 0.5s;
}

#main-container .cancel {
  color: var(--desaturatedBlue);
  text-decoration: none;
  margin: 15px 0;
  font-weight: 900;
  font-size: 0.9em;
}

#main-container .cancel:hover{
  color: hsl(226, 9%, 30%);
  transition: 0.5s;
}






.attribution { 
  font-size: 15px; 
  text-align: center; }
.attribution a { 
  color: hsl(228, 45%, 44%); 
}